html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}


h1, h2, h3, 
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
    horiz-align: center;
}

h1 {
    font-size: 2em; 
}

